<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create An Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content ion-padding">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister()">

    <h5>Account Information</h5>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <h5>Basic Information</h5>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.firstName">
        <div class="error-message" *ngIf="validations_form.get('firstName').hasError(validation.type) && (validations_form.get('firstName').dirty || validations_form.get('firstName').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.lastName">
        <div class="error-message" *ngIf="validations_form.get('lastName').hasError(validation.type) && (validations_form.get('lastName').dirty || validations_form.get('lastName').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-item class="ion-no-padding">
      <ion-label position="floating">Middle Initial</ion-label>
      <ion-input type="text" formControlName="middleInitial" max-length="1"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.middleInitial">
        <div class="error-message" *ngIf="validations_form.get('middleInitial').hasError(validation.type) && (validations_form.get('middleInitial').dirty || validations_form.get('middleInitial').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <h5>Contact Information</h5>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.address">
        <div class="error-message" *ngIf="validations_form.get('address').hasError(validation.type) && (validations_form.get('address').dirty || validations_form.get('address').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="text" maxlength="11" formControlName="mobileNumber"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.mobileNumber">
        <div class="error-message" *ngIf="validations_form.get('mobileNumber').hasError(validation.type) && (validations_form.get('mobileNumber').dirty || validations_form.get('mobileNumber').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    

    <h5>Income</h5>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Monthly Income (₱ Peso)</ion-label>
      <ion-input type="number" formControlName="incomeMonthly" (input)="onIncomeMonthlyChange($event.target.value)">
        <!-- <div class="icon-left">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="415.633px" height="415.634px" viewBox="0 0 415.633 415.634" style="enable-background:new 0 0 415.633 415.634;" xml:space="preserve">
            <g>
              <path d="M403.516,147.019H344.68c1.017-7.22,1.655-14.75,1.655-22.753c0-6.076-0.461-11.904-1.117-17.599h58.292   c6.685,0,12.105-5.423,12.105-12.105c0-6.682-5.421-12.105-12.105-12.105h-63.429c-0.833-2.565-1.613-5.163-2.606-7.613   c-5.828-14.369-14.446-26.675-25.611-36.564c-11.189-9.915-21.669-17.117-37.107-21.403c-16.019-4.583-36.352-6.901-66.473-6.901   H104.085c-16.195,0-27.955,3.316-34.965,9.859c-6.907,6.434-10.391,17.827-10.391,33.872v28.75H12.105   C5.423,82.455,0,87.879,0,94.561c0,6.683,5.423,12.105,12.105,12.105h46.624v40.353H12.105C5.423,147.019,0,152.442,0,159.124   s5.423,12.105,12.105,12.105h46.624v191.523c0,14.434,3.248,25.346,9.658,32.45c6.325,7.033,14.514,10.456,25.041,10.456   c9.962,0,17.995-3.47,24.518-10.609c6.573-7.188,9.91-18.253,9.91-32.841V242.646h80.434c48.084,0,78.548-10.143,102.486-30.162   c12.897-10.799,22.184-24.657,28.088-41.248h64.664c6.68,0,12.105-5.423,12.105-12.105S410.195,147.019,403.516,147.019z    M127.85,58.869h60.75c38.326,0,63.257,6.41,76.237,19.585c1.206,1.288,2.306,2.639,3.394,4.001H127.85V58.869z M238.405,187.206   c-13.382,4.173-30.133,6.289-49.804,6.289h-60.75v-22.266h137.792C258.596,178.328,249.517,183.733,238.405,187.206z    M279.52,147.019H127.85v-40.353h152.072c1.478,5.99,2.246,12.4,2.246,19.239C282.168,133.593,281.27,140.632,279.52,147.019z"/>
            </g>
          </svg>
        </div> -->
      </ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.incomeMonthly">
        <div class="error-message" *ngIf="validations_form.get('incomeMonthly').hasError(validation.type) && (validations_form.get('incomeMonthly').dirty || validations_form.get('incomeMonthly').touched)">
          {{ validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-label style="font-size: 0.75rem; margin-bottom: 10px;">Proof of Income (Payslip, Electric Bill, ID, etc.)</ion-label>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.incomeProof">
        <div class="error-message" *ngIf="validations_form.get('incomeProof').hasError(validation.type) && (validations_form.get('incomeProof').dirty || validations_form.get('incomeProof').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <app-multi-file-upload></app-multi-file-upload>



    <h5>Guarantor Information</h5>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="guarantorName"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.guarantorName">
        <div class="error-message" *ngIf="validations_form.get('guarantorName').hasError(validation.type) && (validations_form.get('guarantorName').dirty || validations_form.get('guarantorName').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-item class="ion-no-padding">
        <ion-label position="floating">Relation</ion-label>
        <ion-input type="text" formControlName="guarantorRelation"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.guarantorRelation">
          <div class="error-message" *ngIf="validations_form.get('guarantorRelation').hasError(validation.type) && (validations_form.get('guarantorRelation').dirty || validations_form.get('guarantorRelation').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>


      <ion-item class="ion-no-padding">
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-input type="text" maxlength="11" formControlName="guarantorMobile"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.guarantorMobile">
          <div class="error-message" *ngIf="validations_form.get('guarantorMobile').hasError(validation.type) && (validations_form.get('guarantorMobile').dirty || validations_form.get('guarantorMobile').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    





    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Register</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p>

</ion-content>
