h5 {
    margin-top: 40px;
    margin-bottom: 0;
    &:first-child {
        margin-top: 0;
    }
}

.icon-left {
    // background: green; 
    position: absolute;
    left: 0;
    top: 7px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    // justify-content: center;
    svg {
        height: 15px;
        width: 15px;
    }
}

.padding-left {
    --padding-start: 15px;
}

.submit-btn {
    margin-top: 20px;
}