<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Loan History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
    <ng-container *ngFor="let loan of loansFiltered">
        <p>{{loan.dateCreated.toDate() | date}}</p>
        <ion-card (click)="view(loan)">
            <ion-card-header>
                <ion-card-subtitle>Loan Account No:&nbsp;&nbsp;{{loan.accountNo}}</ion-card-subtitle>
                <ion-card-subtitle>Name:&nbsp;&nbsp;{{loan.fullName}}</ion-card-subtitle>

                <ion-card-title>Loan Amount:&nbsp;&nbsp;{{loan.principal}}</ion-card-title>
                <ion-chip color="warning ion-no-margin" *ngIf="loan.status == 'pending'">
                    <ion-label>pending</ion-label>
                </ion-chip>

                <ion-chip color="success ion-no-margin" *ngIf="loan.status == 'approved'">
                    <ion-label>approved</ion-label>
                </ion-chip>

                <ion-chip color="success ion-no-margin" *ngIf="loan.status == 'done'">
                    <ion-label>done</ion-label>
                </ion-chip>

                <ion-chip color="danger ion-no-margin" *ngIf="loan.status == 'declined'">
                    <ion-label>declined</ion-label>
                </ion-chip>

                <ion-chip color="danger ion-no-margin" *ngIf="loan.status == 'cancelled'">
                    <ion-label>cancelled</ion-label>
                </ion-chip>

                <!-- <ion-card-subtitle>{{loan.dateCreated.toDate() | date}}</ion-card-subtitle> -->

            </ion-card-header>

            <!-- <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content> -->

            <!-- <ion-progress-bar color="secondary" [value]="( (loan.progress || 0)/loan.monthsToPay ) || 0.01"></ion-progress-bar> -->
        </ion-card>


    </ng-container>

</ion-content>

<loading *ngIf="loading"></loading>