<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="loan-applications"></ion-back-button>
        </ion-buttons>
        <ion-title>General Journal</ion-title>
        
    </ion-toolbar>
</ion-header>

<ion-toolbar>
<ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="monthly">
        <ion-label>Monthly</ion-label>
    </ion-segment-button>
    <ion-segment-button value="yearly">
        <ion-label>Yearly</ion-label>
    </ion-segment-button>
</ion-segment>
</ion-toolbar>
<ion-content>
    <ng-container *ngIf="viewBy == 'monthly'">
        <ion-item>
            <ion-label position="stacked">Month Year</ion-label>
            <ion-datetime (ionChange)="dateChange()" displayFormat="MMMM YYYY" min="2000-01-01" [max]="dateToday" [(ngModel)]="date">
            </ion-datetime>
        </ion-item>
    </ng-container>
    <ng-container *ngIf="viewBy == 'yearly'">
        <ion-item>
            <ion-label>Year</ion-label>
            <ion-datetime (ionChange)="dateChange()" displayFormat="YYYY"  min="2000-01-01" [max]="dateToday" [(ngModel)]="date"></ion-datetime>
          </ion-item>
    </ng-container>
    <div class="journal-container">
        <div class="item" *ngFor="let item of data">
            <span class="date">{{item.dateFinal | date: 'MMM dd'}}</span>
            <div class="item-content" *ngIf="item.isCollection">
                <div class="content-items">
                    <div class="journal-item">
                        <span class="journal-item-label">Cash</span>
                        <span class="debit">{{item.amount}}</span>
                        <span class="credit"></span>
                    </div>
                    <!-- <div class="journal-item">
                        <span class="journal-item-label">Interest Receivable</span>
                        <span class="debit">90</span>
                        <span class="credit"></span>
                    </div> -->
                    <div class="journal-item">
                        <span class="journal-item-label credit">Loans Receivable</span>
                        <span class="debit"></span>
                        <span class="credit">{{item.amount}}</span>
                    </div>
                    <!-- <div class="journal-item">
                        <span class="journal-item-label credit">Interest Income</span>
                        <span class="debit"></span>
                        <span class="credit">90</span>
                    </div> -->
                </div>
                <div class="content-desc">{{'Collected payment on loan acc ' + item.accountNo}}</div>
            </div>
            <div class="item-content" *ngIf="item.isLoan">
                <div class="content-items">
                    <div class="journal-item">
                        <span class="journal-item-label">Loans Receivable</span>
                        <span class="debit">{{item.principal}}</span>
                        <span class="credit"></span>
                    </div>
                    <div class="journal-item">
                        <span class="journal-item-label">Interest Receivable</span>
                        <span class="debit">{{item.amountToPay - item.principal}}</span>
                        <span class="credit"></span>
                    </div>
                    <div class="journal-item">
                        <span class="journal-item-label credit">Cash</span>
                        <span class="debit"></span>
                        <span class="credit">{{item.principal}}</span>
                    </div>
                    <div class="journal-item">
                        <span class="journal-item-label credit">Interest Income</span>
                        <span class="debit"></span>
                        <span class="credit">{{item.amountToPay - item.principal}}</span>
                    </div>
                </div>
                <div class="content-desc">{{'To record loan of ' + item.fullName}}</div>
            </div>
        </div>
    </div>
</ion-content>

<loading *ngIf="loading"></loading>