.journal-container {
    display: flex;
    flex-direction: column;
    .item {
        display: flex;
        .date {
            // width: 100px;
            // flex: auto;
            padding: 15px;
        }
        .item-content {
            flex: 1;
            padding: 15px;
            display: flex;
            flex-direction: column;
            .content-items {
                display: flex;
                flex-direction: column;
                .journal-item {
                    display: flex;
                    .journal-item-label {
                        flex: 1;
                        &.credit {
                            text-indent: 1em;
                        }
                    }
                    .debit {
                        min-width: 50px;
                        // background-color: lightblue;
                    }
                    .credit {
                        min-width: 50px;
                        // background-color: lightcoral;
                    }
                }
            }
        }
    }
}