.container {
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    background-image: linear-gradient(var(--ion-color-primary), transparent 70%);
    .logo {
        display: block;
        height: 150px;
        width: 150px;
        margin: 10px auto;
    }
    .app-name {
        display: block;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .small-title {
        font-size: 40px;
    }
    h1 {
        margin: 0;
        font-size: 70px;
        margin-top: -20px;
    }
    .small-label {
        font-size: 20px;
    }
    button {
        /* height: 60px; */
        font-size: 30px;
        font-weight: bold;
        padding: 15px 40px;
        border-radius: 50px;
        background: var(--ion-color-primary);
        /* background-color: white; */
        color: white;
        display: block;
        margin-bottom: 20px;
    }
}
