<ion-header>
  <ion-toolbar>
    <ion-title>excel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="file" (change)="onFileChange($event)" multiple="false" />
	<table class="sjs-table">
		<tr *ngFor="let row of data">
			<td *ngFor="let val of row">
				{{val}}
			</td>
		</tr>
	</table>
  <button (click)="export()">Export!</button>
  

  <div>
    <ngx-datatable
      [rows]="rows"
      [columns]="columns">
    </ngx-datatable>
  </div>
</ion-content>
