<ion-header translucent="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Active Loans</ion-title>               
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionChange)="setFilteredItems()"
    ></ion-searchbar>

  <ion-card *ngFor="let loan of loansFiltered" (click)="view(loan)">
    <ion-card-header>
      <ion-card-subtitle>Loan Account No:&nbsp;&nbsp;{{loan.accountNo}}</ion-card-subtitle>
      <ion-card-subtitle>Name:&nbsp;&nbsp;{{loan.fullName}}</ion-card-subtitle>
      <!-- <ion-card-subtitle>Progress:&nbsp;&nbsp;{{loan.progress || '0'}}/{{loan.monthsToPay}}</ion-card-subtitle> -->
      <ion-card-title>Loan Amount:&nbsp;&nbsp;{{loan.principal}}</ion-card-title>
      <ion-chip color="warning ion-no-margin" *ngIf="loan.status == 'pending'">
        <ion-label>pending</ion-label>
      </ion-chip>

      <ion-chip color="success ion-no-margin" *ngIf="loan.status == 'approved'">
        <ion-label>approved</ion-label>
      </ion-chip>
    </ion-card-header>
  
    <!-- <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> -->

    <!-- <ion-progress-bar color="secondary" [value]="( (loan.progress || 0)/loan.monthsToPay ) || 0.01"></ion-progress-bar> -->
  </ion-card>

</ion-content>

<loading *ngIf="loading"></loading>
