<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="loans"></ion-back-button>
    </ion-buttons>
    <ion-title>Apply Loan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content ion-padding">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="apply()">

    <h5>Loan Details</h5>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" disabled formControlName="principal" (input)="onPrincipalChange($event.target.value)"></ion-input>
    </ion-item>

    <div style="width: 100%;">
        <ion-range (ionChange)="onAmountChange($event)" [min]="minLoan" [max]="maxLoan" step="100" snaps="true" color="secondary">
        <ion-label slot="start">{{minLoan}}</ion-label>
        <ion-label slot="end">{{maxLoan}}</ion-label>
        </ion-range>
    </div>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.principal">
        <div class="error-message" *ngIf="validations_form.get('principal').hasError(validation.type) && (validations_form.get('principal').dirty || validations_form.get('principal').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Loan Term (Months to Pay)</ion-label>
      <ion-input type="number" disabled formControlName="monthsToPay" (input)="onMonthsToPay($event.target.value)"></ion-input>
    </ion-item>
    <div style="width: 100%;">
        <ion-range (ionChange)="onMonthChange($event)" min="3" max="24" step="1" snaps="true" color="secondary">
        <ion-label slot="start">3</ion-label>
        <ion-label slot="end">24</ion-label>
        </ion-range>
    </div>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.monthsToPay">
        <div class="error-message" *ngIf="validations_form.get('monthsToPay').hasError(validation.type) && (validations_form.get('monthsToPay').dirty || validations_form.get('monthsToPay').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <h5>Loan Summary</h5>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Monthly Payment: ₱ {{this.validations_form.get('monthlyPayment').value}}</ion-card-title>
        <ion-card-subtitle>Total Payment: ₱ {{this.validations_form.get('amountToPay').value}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-card-subtitle>Billing Schedules:</ion-card-subtitle>
        <p *ngFor="let month of monthlyPayment">{{month.date | date}}: ₱ {{month.amount}}</p>
      </ion-card-content>
    </ion-card>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Apply</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>

</ion-content>

<loading *ngIf="loading"></loading>
