<ion-header translucent="true">
  <ion-toolbar>   
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Loans</ion-title>               
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-card *ngFor="let loan of loans" (click)="view(loan)">
    <ion-card-header>
      <ion-card-subtitle>Loan Account No:&nbsp;&nbsp;{{loan.accountNo}}</ion-card-subtitle>
      <!-- <ion-card-subtitle>Progress:&nbsp;&nbsp;{{loan.progress || '0'}}/{{loan.monthsToPay}}</ion-card-subtitle> -->
      <ion-card-title>Loan Amount:&nbsp;&nbsp;{{loan.principal}}</ion-card-title>
      <ion-chip color="warning ion-no-margin" *ngIf="loan.status == 'pending'">
        <ion-label>pending</ion-label>
      </ion-chip>

      <ion-chip color="success ion-no-margin" *ngIf="loan.status == 'approved'">
        <ion-label>approved</ion-label>
      </ion-chip>

      <ion-chip color="success ion-no-margin" *ngIf="loan.status == 'done'">
        <ion-label>done</ion-label>
      </ion-chip>

      <ion-chip color="danger ion-no-margin" *ngIf="loan.status == 'cancelled'">
        <ion-label>cancelled</ion-label>
      </ion-chip>

      <ion-chip color="danger ion-no-margin" *ngIf="loan.status == 'declined'">
        <ion-label>declined</ion-label>
      </ion-chip>
    </ion-card-header>
  
    <!-- <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> -->

    <!-- <ion-progress-bar color="secondary" [value]="( (loan.progress || 0)/loan.monthsToPay ) || 0.01"></ion-progress-bar> -->
  </ion-card>

</ion-content>

<loading *ngIf="loading"></loading>
