<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Statistics</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-datetime [(ngModel)]="date" [max]="dateToday" displayFormat="YYYY" pickerFormat="YYYY" (ionChange)="dateChange($event)"></ion-datetime>
    <div >
        <h5>Report for year {{date.substring(0, 4)}}</h5>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Total Capital: {{totalCapital}} </ion-card-subtitle>
                <ion-card-subtitle>Total Collection: {{totalCollection}} </ion-card-subtitle>
                <ion-card-subtitle>Total Income: {{totalIncome}} </ion-card-subtitle>
            </ion-card-header>
    
            <!-- <ion-card-content>
                <ion-card-subtitle>Billing Schedules:</ion-card-subtitle>
                <p *ngFor="let month of monthlyPayment">{{month.date | date}}: ₱ {{month.amount}}</p>
              </ion-card-content> -->
        </ion-card>
    
        <div>
            <!-- <ion-card>
                <ion-card-header>
                    Bar Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas #barCanvas></canvas>
                </ion-card-content>
            </ion-card>
    
            <ion-card>
                <ion-card-header>
                    Doughnut Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas #doughnutCanvas></canvas>
                </ion-card-content>
            </ion-card> -->
    
            <ion-card>
                <ion-card-header>
                    Line Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas id="lineCanvas" #lineCanvas></canvas>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
    <!-- <ion-button (click)="print()">Print</ion-button> -->
</ion-content>
<loading *ngIf="loading"></loading>