<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="card">
        <span class="name">Hi {{(profile.firstName || '') + ' ' + (profile.middleInitial || '' )+ ' ' + (profile.lastName || '')}}!</span> <br>
        <span>Congratulations! For having you loan account.</span> <br> <br>
        <span>Do you need <strong>CASH</strong>?</span> <br>
        <ion-button (click)="apply()">Apply Loan</ion-button>
    </div>
    <div class="loans-container">


        <ion-card>
            <ion-item (click)="goTo('profile')" class="ion-activated">
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-item>

            <ion-item (click)="goTo('loans')" >
                <ion-icon name="cash-outline" slot="start"></ion-icon>
                <ion-label>Loans</ion-label>
            </ion-item>

            <ion-item (click)="goTo('settings')" >
                <ion-icon name="settings-outline" slot="start"></ion-icon>
                <ion-label>Settings</ion-label>
            </ion-item>
        </ion-card>
        <!-- <ion-button (click)="logout()">logout</ion-button> -->
    </div>
</ion-content>

<loading *ngIf="loading"></loading> 