.card {
    height: 150px;
    // background: #add8e6;
    // box-shadow: 5px 0 10px  gray;
}

.loans-container {
    height: calc(100% - 250px);
    // background-image: linear-gradient(var(--ion-color-primary), transparent 40%);
}

.name {
    font-size: 1.25rem;
    font-weight: bold;
}