<ion-app>
    <ion-menu side="start" menuId="client" contentId="main">
    <ion-header>
        <ion-toolbar color="primary">
        <ion-title>Loan Information System</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
        <ion-item (click)="goTo('home')">Home</ion-item>
        <ion-item (click)="goTo('profile')">Profile</ion-item>
        <ion-item (click)="goTo('loans')">Loans</ion-item>
        <ion-item (click)="goTo('payment-options')">Payment Options</ion-item>
        <ion-item (click)="goTo('settings')">Settings</ion-item>
        </ion-list>
    </ion-content>
    </ion-menu>


    <ion-menu side="start" menuId="admin" contentId="main">
            <ion-header>
                <ion-toolbar color="primary">
                <ion-title>Loan Information System</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                <ion-item (click)="goTo('loan-applications')">Loan Applications</ion-item>
                <ion-item (click)="goTo('loan-active')">Active Loans</ion-item>
                <ion-item (click)="goTo('loan-history')">Loan History</ion-item>
                <ion-item (click)="goTo('statistics')">Statistics</ion-item>
                <ion-item (click)="goTo('general-journal')">General Journal</ion-item>
                <ion-item (click)="goTo('admin-settings')">Settings</ion-item>
                </ion-list>
            </ion-content>
            </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
