<ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="loan-view" (click)="close()"></ion-back-button>
          </ion-buttons>
          <ion-title>Post Collection</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="form-content ion-padding">
        <form class="form" [formGroup]="validations_form" (ngSubmit)="submit()">
      
          <h5>Loan Details</h5>
      
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Amount</ion-label>
            <ion-input type="number" formControlName="amount"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.amount">
              <div class="error-message" *ngIf="validations_form.get('amount').hasError(validation.type) && (validations_form.get('amount').dirty || validations_form.get('amount').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
      
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Date</ion-label>
            <ion-datetime formControlName="date" [max]="dateToday"></ion-datetime>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.date">
              <div class="error-message" *ngIf="validations_form.get('date').hasError(validation.type) && (validations_form.get('date').dirty || validations_form.get('date').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
      
          <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Post</ion-button>
          <label class="error-message">{{errorMessage}}</label>
          <label class="success-message">{{successMessage}}</label>
        </form>
      
      </ion-content>
      
      <!-- <loading *ngIf="loading"></loading> -->
      