<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="loans"></ion-back-button>
      </ion-buttons>
      <ion-title>Payment Options</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="gcash">
        <ion-card-header>
          <ion-card-subtitle style="color: white; font-weight: bold">GCash</ion-card-subtitle>
          <ion-card-title>09394438585</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="color: white">
            Ronald Rogado
        </ion-card-content>
    </ion-card>
    <ion-card class="paymaya">
        <ion-card-header>
          <ion-card-subtitle style="color: white; font-weight: bold">Paymaya</ion-card-subtitle>
          <ion-card-title>4834 4246 3982 0342</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="color: white">
            Ronald Rogado
        </ion-card-content>
    </ion-card>
    <ion-card class="unionbank">
        <ion-card-header>
          <ion-card-subtitle style="color: white; font-weight: bold">Unionbank</ion-card-subtitle>
          <ion-card-title>4234 4246 3982 0342</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="color: white">
            Ronald Rogado
        </ion-card-content>
    </ion-card>
</ion-content>
