<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="loan-applications"></ion-back-button>
        </ion-buttons>
    <ion-title>Loan Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>Loan Details</h5>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Amount: ₱{{loan.principal}}</ion-card-title>
      <ion-card-subtitle>Account Number: ₱{{loan.accountNo}}</ion-card-subtitle>
      <ion-card-subtitle>Loan Term (Months to Pay): {{loan.monthsToPay}} months</ion-card-subtitle>
      <ion-card-subtitle>Date of Application: {{loan.dateCreated?.toDate() | date}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <h5>Loan Summary</h5>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Monthly Payment: ₱{{loan.monthlyPayment}} </ion-card-title>
      <ion-card-subtitle *ngIf="!isClient">Total Payment: ₱{{loan.amountToPay}} </ion-card-subtitle>
      <ion-card-subtitle *ngIf="isClient">Remaining Balance: ₱{{loan.amountToPay - totalCollection}} </ion-card-subtitle>
      <ion-card-subtitle *ngIf="isClient">Total Payment: ₱{{totalCollection}} </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <div>
            <ion-card-subtitle>Payment Schedules:</ion-card-subtitle>

            <div  *ngFor="let month of monthlyPayment">
                <div>
                    <p>{{month.date | date}}: ₱ {{month.amount}}</p>
                    <ion-progress-bar *ngIf="loan.status != 'pending'" [value]="month.progress"></ion-progress-bar>
                </div>
                <div  *ngIf="month.penalty">
                    <p>Penalty: ₱ {{month.penalty.amount}}</p>
                    <ion-progress-bar *ngIf="loan.status != 'pending'"  [value]="month.penalty.progress"></ion-progress-bar>
                </div>
            </div>
        </div>
        <div style="margin-left: 10px;" *ngIf="loan.status != 'pending'">
            <ion-card-subtitle>Payments</ion-card-subtitle>
            <p *ngFor="let payment of collection">{{payment.date | date}}: ₱ {{payment.amount}}</p>
            
        </div>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="!isClient">
    <h5>Profile Information</h5>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Name: {{profile.firstName + ' ' + profile.middleInitial + ' ' + profile.lastName}} </ion-card-subtitle>
        <ion-card-subtitle>Address: {{profile.address}} </ion-card-subtitle>
        <ion-card-subtitle>Contact Number: {{profile.mobileNumber}} </ion-card-subtitle>
        <ion-card-subtitle>Email: {{profile.email}} </ion-card-subtitle>
        <ion-card-subtitle>Income: {{profile.incomeMonthly}} </ion-card-subtitle>
        <ion-card-subtitle>Proof off Income: </ion-card-subtitle>
        <ion-card-subtitle *ngFor="let file of profile.files; let i = index"><a [href]="file" target="_blank">File No.{{i + 1}}</a></ion-card-subtitle>
        <ion-card-subtitle>Guarantor Name: {{profile.guarantorName}}</ion-card-subtitle>
        <ion-card-subtitle>Guarantor Relation: {{profile.guarantorRelation}}</ion-card-subtitle>
        <ion-card-subtitle>Guarantor Mobile Number: {{profile.guarantorMobile}}</ion-card-subtitle>
      </ion-card-header>
  
      <!-- <ion-card-content>
        <ion-card-subtitle>Billing Schedules:</ion-card-subtitle>
        <p *ngFor="let month of monthlyPayment">{{month.date | date}}: ₱ {{month.amount}}</p>
      </ion-card-content> -->
    </ion-card>
  </ng-container>
 
  <!-- continue here -->
  <!-- <ng-container *ngIf="loan."></ng-container> -->
  <ng-container *ngIf="loan.status == 'pending' && !isClient">
    <ion-button expand="full" (click)="approve()">Accept</ion-button>
    <ion-button expand="full" color="warning" (click)="decline()">Decline</ion-button>
  </ng-container>


    <ng-container *ngIf="loan.status == 'approved' && !isClient">
        <ion-button expand="full" (click)="showPostCollectionModal()">Post Collection</ion-button>
        <ion-button expand="full" (click)="notify()" color="secondary">Notify</ion-button>
        <ion-button expand="full" color="warning" (click)="cancel()">Cancel</ion-button>
    </ng-container>
    <ion-button expand="full" (click)="print()">Print</ion-button>
</ion-content>


<loading *ngIf="loading"></loading>