<ion-header>
<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h5>Profile Information</h5>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Name: {{profile.firstName + ' ' + profile.middleInitial + ' ' + profile.lastName}} </ion-card-subtitle>
        <ion-card-subtitle>Address: {{profile.address}} </ion-card-subtitle>
        <ion-card-subtitle>Contact Number: {{profile.mobileNumber}} </ion-card-subtitle>
        <ion-card-subtitle>Email: {{profile.email}} </ion-card-subtitle>
        <ion-card-subtitle>Income: {{profile.incomeMonthly}} </ion-card-subtitle>
        <ion-card-subtitle>Proof off Income: </ion-card-subtitle>
        <ion-card-subtitle *ngFor="let file of profile.files; let i = index"><a [href]="file" target="_blank">File No.{{i + 1}}</a></ion-card-subtitle>
        <ion-card-subtitle>Guarantor Name: {{profile.guarantorName}}</ion-card-subtitle>
        <ion-card-subtitle>Guarantor Relation: {{profile.guarantorRelation}}</ion-card-subtitle>
        <ion-card-subtitle>Guarantor Mobile Number: {{profile.guarantorMobile}}</ion-card-subtitle>
      </ion-card-header>
  
      <!-- <ion-card-content>
        <ion-card-subtitle>Billing Schedules:</ion-card-subtitle>
        <p *ngFor="let month of monthlyPayment">{{month.date | date}}: ₱ {{month.amount}}</p>
      </ion-card-content> -->
    </ion-card>
</ion-content>
<loading *ngIf="loading"></loading> 
