<!-- <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="drop-zone">
  Drop files here...
</div> -->

<div class="file-input-container" *ngIf="uploader.queue.length < 3">
  <label >
    <input type="file" ng2FileSelect [uploader]="uploader" multiple />
    Add Files
  </label >
</div>

<!-- <h2>Files: {{ uploader?.queue?.length }}</h2> -->

<ion-item *ngFor="let item of uploader.queue; let i = index" class="ion-no-padding">
  <ion-label>
    {{ item?.file?.name }}
  </ion-label>
  <ion-icon name="close-circle" slot="end" (click)="remove(i)"></ion-icon>
</ion-item>